body,
html {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #dbdfb7;
}
body::-webkit-scrollbar {
    display: none;
}
* {
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box; /*box-sizing: content-box | border-box | initial | inherit*/
    word-break: keep-all;
}

/*-----other-----*/
.clear {
    height: 100px;
}
#loading_page {
    position: fixed;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #dbdfb7; 
}
#loading_page img {
    position: absolute;
    top: 47vh;
    left: 47vw;
    height: 6vh;
}



/*-----content-----*/
content {
    width: 100vw;
    height: 100vh;
}

    .hamburger,
    .hamburger span {
        opacity: 0;
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    .hamburger {
        opacity: 0;
        position: fixed;
        width: 50px;
        height: 44px;
    }
    .hamburger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
    }
    .hamburger span:nth-of-type(1) {
        top: 0;
    }
    .hamburger span:nth-of-type(2) {
        top: 20px;
    }
    .hamburger span:nth-of-type(3) {
        bottom: 0;
    }

    .hamburger.active-1 span:nth-of-type(1) {
        -webkit-transform: translateY (20px) rotate (-45deg);
        transform: translateY(20px) rotate(-45deg);
    }
    .hamburger.active-1 span:nth-of-type(2) {
        opacity: 0;
    }
    .hamburger.active-1 span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-20px) rotate(45deg);
    }  


/*-----main-----*/
.main {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url('asset/book4.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.7);
}
.main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_text p {
    width: 100%;
    min-width: 100%;
    margin: 15vh 0 0;
    color: #646939;
    font-size: 10vh;
    font-family: 'Gowun Dodum', sans-serif;
}
.main_text h1 {
    margin: 0 0 5vh;
    color: #939A54;
    font-size: 40vh;
    font-family: 'Capriola', sans-serif;
    line-height: 100%;
    text-shadow: 3px 3px 5px #646939; 
}
.main button {
    margin: 0 0 15vh;
    font-family: 'Gowun Dodum', sans-serif;
    background: transparent;
    border-radius: 100px;
}
.main button.button {
    padding: 10px 50px;
    color: #646939;
    font-size: 40px;
    border: 3px solid #646939;   
}
.main button.button:hover {
    color: #ffffff;
    background: #646939;
}



/*-----information-----*/
.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}
.information h3 {
    margin: 10vh 0 0;
    font-size: 15vh;
    color: #646939;
    font-family: 'Gowun Dodum', sans-serif;
    margin-bottom: 0;
}

.information br {
    margin: 0 0 1vh;
    font-size: 10vh;
    color: #000000;
    font-family: 'Gowun Dodum', sans-serif;
}
.information p {
    font-size: 4vh;
    font-family: 'Gowun Dodum', sans-serif;
}
.information p b{
    font-size: 5vh;
    color: #646939;
}
.information p a {
    font-size: 100px;
    font-family: 'Gowun Dodum', sans-serif;
}

/*-----gallery-----*/
.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /*--background-image: url('../images/award_page.jpg');--*/
}

.gallery h3 {
    margin: 10vh 0 5vh;
    font-size: 15vh;
    color: #646939;
    font-family: 'Gowun Dodum', sans-serif;
    margin-bottom: 0;
}

.gallery iframe {
    height: 70vh;
    width: 140vh;
    background-size: cover;
    background-position: center;
}

    /* review */

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 100%;
}

.review h3 {
    margin: 10vh 0 5vh;
    font-size: 15vh;
    color: #646939;
    font-family: 'Gowun Dodum', sans-serif;
    margin-bottom: 0;
}


.review iframe {
    margin: 1vh 0 1vh;
    height: 65vh;
    width: 150vh;
    background-size: cover;
    background-position: center;
}

#reviewList{
    font-size: 25px;
}

#commentList{
    font-size: 25px;
}

textarea,
input[type="text"],
input[type="file"] {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}


.reviewButton,
.commentButton {
    padding: 8px 20px;
    margin-right: 0;
    display: inline-block;
}



button {
    background-color: #BEDB9E;
    color: white;
    padding: 8px 20px;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
background-color: #D6DFCC;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

nav ul li {
display: inline-block;
margin-right: 10px;
}

nav ul li a {
display: block;
padding: 10px;
background-color: #D6DFCC;
color: white;
text-decoration: none;
}

nav ul li a:hover {
background-color: #D6DFCC;
}



.emoticon-buttons {
    display: flex;
    justify-content: flex-start;
}


.notice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 100%;
}
.notice h3 {
    margin: 10vh 0 5vh;
    font-size: 15vh;
    color: #646939;
    font-family: 'Gowun Dodum', sans-serif;
    margin-bottom: 0;
}
.notice iframe {
    margin: 1vh 0 1vh;
    height: 65vh;
    width: 150vh;
    background-size: cover;
    background-position: center;
}

.textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

#noticeList .notice-item p {
    font-size: 25px;
}

#noticesContainer {
width: 100%;
height: 100%;
margin-top: 20px;
}

.noticeTitle {
color: #FFF;
padding: 10px;
margin-bottom: 5px;
cursor: pointer;
border-radius: 5px;
}

.noticeContent {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* 데스크탑 화면에 대한 스타일
@media (min-width: 1367px) {
  /* 네비게이션 */
  /* nav {
    height: 70px;
  }
  nav .logo img {
    width: 175px;
  }
  nav .nav_menu {
    font-size: 25px;
  }
  nav .top {
    right: 440px;
  }
  nav .go_notice {
    right: 70px;
  }
  nav .go_gallery {
    right: 153px;
  }
  nav .go_review {
    right: 250px;
  }
  nav .go_about {
    right: 350px;
  }
  /* 메인 텍스트 */
  /* .main_text p {
    margin: 15vh 0 0;
    font-size: 10vh;
  }
  .main_text h1 {
    font-size: 40vh;
  } */
  /* 버튼 */
  /* .main button.button {
    padding: 10px 50px;
    font-size: 40px;
  } */
  /* 리뷰 및 공지사항 */
  /* .review iframe,
  .gallery iframe,
  .notice iframe {
    height: 65vh;
    width: 150vh;
  }
} */ 

/* 태블릿 화면에 대한 스타일 */
/* @media (max-width: 1366px) {
  네비게이션 */
  /* nav {
    height: auto;
  }
  nav .logo img {
    width: 150px;
  }
  nav .nav_menu {
    font-size: 20px;
  }
  nav .top,
  nav .go_notice,
  nav .go_gallery,
  nav .go_review,
  nav .go_about {
    position: static;
    right: auto;
  }
  /* 메인 텍스트 */
  /* .main_text p {
    margin: 10vh 0 0;
    font-size: 7vh;
  }
  .main_text h1 {
    font-size: 30vh;
  }
  /* 버튼 */
  /* .main button.button {
    padding: 10px 30px;
    font-size: 30px;
  } */
  /* 리뷰 및 공지사항 */
  /* .review iframe,
  .gallery iframe,
  .notice iframe {
    height: 40vh;
    width: 80vh;
  }
} */ 

/* 모바일 화면에 대한 스타일 */
@media (max-width: 915px) {
  nav .size,
  nav .wrapper,
  nav .navigation,
  nav .logo,
  .mobile_menu {
    display: flex;
    width: 100px;
    height: 70px;
}
  nav .hamburger {
    display: inline-block;
    opacity: 1;
  }

  /* 메인 텍스트 */
  .main_text p {
    margin: 13vh 0 0;
    font-size: 5vh;
  }
  .main_text h1 {
    font-size: 15vh;
  }

  #reviewList{
    font-size: 20px;
}

#commentList{
    font-size: 20px;
}

  .information p {
    font-size: 20px;
    margin: 0 5vh 5vh;
  }

  .information p b {
    font-size: 25px;
  }
  .information h3,
  .gallery h3,
  .notice h3,
  .review h3 {
    font-size: 10vh;
    margin: 10vh 0 2vh;

  }
  /* 버튼 */
  .main button.button {
    padding: 10px 20px;
    font-size: 20px;
  }
  /* 리뷰 및 공지사항 */
  .review iframe,
  .gallery iframe,
  .notice iframe {
    height: 700px;
    width: 380px;
    margin: 0 5vh 5vh;
  }
}
