/* style.css */
body, html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F8FFEF;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h4 {
  text-align: center;
}

h1,
h4 {
  background-color: #092ED9;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

textarea,
input[type="text"],
input[type="file"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #BEDB9E;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #D6DFCC;
}

iframe {
  width: 100%;
  min-height: 300px;
  border: none;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  background-color: #D6DFCC;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #D6DFCC;
}


#noticesContainer {
  margin-top: 20px;
}

.noticeTitle {
  background-color: #092ED9;
  color: #FFF;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.noticeContent {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.gallery {
  background: #fff;
  color: #fff;
  background-size: cover;
  max-width: 500px;
  height: 100%;
  margin: auto;
}